.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed; /* Fixed position to keep it in place */
  top: 0;
  left: 0;
  background-color: #565869;
}

